@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';



@theme {
  --color-background: #F9FAFB;
  --color-foreground: #000000;
  --color-primary: #FFFF00;
  --color-light-gray : #808080; 
  --color-thin-gray : #737373;
  --color-side-bar-border : #0000001A; 
  --color-search-bar-bg : #F9F9F9;
  --color-light-yellow : #CCCC00;
  --color-navigate : #1A1A1A; 
  --color-active-route : #FEF9C2;

}


body {
  background: var(--color-background);
  color: var(--color-foreground);
 
}

.nav-search:-webkit-autofill,
.nav-search:-webkit-autofill:hover,
.nav-search:-webkit-autofill:focus,
.nav-search:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px  #F9F9F9 inset !important;
  box-shadow: 0 0 0px 1000px #F9F9F9 inset !important;
  background-color: transparent !important;
  color: inherit !important;
}

.autofillbg:-webkit-autofill,
.autofillbg:-webkit-autofill:hover,
.autofillbg:-webkit-autofill:focus,
.autofillbg:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px  white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  background-color: transparent !important;
  color: inherit !important;
}